/* Container */
.services-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 20px;
  text-align: center;
  padding-top: 15%;
  background-color: whitesmoke;
}

.section-tag {
  color: red;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.section-title {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 10px;
}

.section-desc {
  color: #555;
  max-width: 700px;
  margin: 0 auto 40px;
  font-size: 16px;
}

/* Grid */
.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 35px;
  margin-top: 20px;
}

/* Card */
.service-card {
  text-align: left;
}

.service-img {
  width: 100%;
  height: 170px;
  object-fit: cover;
  border-radius: 6px;
  margin-bottom: 15px;
}

.service-card h3 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 8px;
}

.service-card p {
  font-size: 14px;
  color: #666;
  margin-bottom: 12px;
  line-height: 1.5;
}

.learn-more {
  font-size: 14px;
  font-weight: 600;
  color: #000;
  cursor: pointer;
  transition: 0.3s;
}

.learn-more:hover {
  color: red;
}

span {
  color: red;
}