* {
   /* margin: 0; */
    padding: 0;
    box-sizing: border-box;
}


/* body {
   overflow-x: hidden;
   font-family: Arial, Helvetica, sans-serif; 
   background-color: black;
} */

.con {
   height: 100vh;
    background-image: linear-gradient(rgba(3, 3, 3, 0.8), rgba(3, 3, 3, 0.8)), url(./assets/IMG-20251019-WA0107.jpg);
    background-size: cover;
    color: white;
    animation: fadeIn 2s ease-in-out;
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.link {
    color: white;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
    
}

.link:hover {
    color: red;
}

.container1 {
   /* width: auto;
    height: 156vh; */
    color: white;
    background-color: #111;
    width: 100%;
   
}

@keyframes fadeIn {
    10% {opacity: 0.1;}
    100% {opacity: 1;}
}

.email {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid grey;
    margin-left: 80px;
    margin-right: 80px;
}

.home {
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
}

.home p:hover {
    color: red; 
    cursor: pointer;
}

.home img {
    width: 50px;
    margin-top: 10px;
}

.home h6 {
    margin-top: 1px;
    margin-left: 50px;
} 

/*.home ion-icon {
    margin-top: 15px;
    color: black;
    width: 20px;
    height: 20px;   
    border-radius: 2%;
    padding: 5px;
    background: red;
    transition: all 0.5s ease;
}

.home ion-icon:hover {
    background: black;
    color: white; 
    width: 30px;
    height: 30px;  
    box-shadow: 0 0 25px red;
    transition: 0.2s;
}*/

.describe {
    text-align: center;
   
    margin-left: 300px;
    font-size: 1em;
    width: 60%;
}

.describe2 {
    text-align: center;
    background-color: red;
    padding: 1px;
    width: 15%;
    font-weight: normal;
    margin-left: 46%;
}

.describe2:hover {
    background: white; 
    color: black;
    transition: 0.2s;
    cursor: pointer;
}

.about-us {
    display: flex;
    height: 120vh;
    background-color: rgb(249, 253, 250);
    font-family: Arial, Helvetica, sans-serif;
}

.about-us2 {
    margin-top: 80px;
    margin-left: 80px;
}

.about-us h5 {
    color: gray;
}

.about-us h1 {
    font-weight: bold;
    font-size: 300%;
    width: 88%;
    color: black;
}

.about-us h4 {
    font-size: 120%;
    color: rgb(101, 101, 101);
    margin-bottom: 5%;
}

h5 span {
    color: red;
    font-weight: 900;
}

h1 span {
    color: red;
}

.about-us p {
    color: grey;
    font-size: 110%;
    width: 70%;
    margin-bottom: 6%;
}

.more {
    background-color: black;
    color: white;
    padding: 20px;
    width: 30%;
    text-align: center;
    margin-top: 40px;
    font-size: 1.2em;
}

.more:hover{
    background: white;
    color: black;
}

.about-us img {
    width: 60%;
    height: 50%;
    margin-top: 260px;
    margin-right: 200px;
}

.years {
    background-color: blanchedalmond;
    /* height: 206vh; */
}

.two {
    display: flex;
    text-align: center;
    color: white;
}

.three {
    background-color: white;
    width: 25%;
    padding: 92px;
}

.three img {
    width: 50px;
}

.three h1 {
    color: red;
    border-bottom: 1px solid grey;
}

.three p {
    color: gray;
}

.six {
    background-color: rgb(237, 244, 239);
    width: 25%;
    padding: 92px;
}

.six img {
    width: 50px;
}

.six h1 {
    color: red;
    border-bottom: 1px solid grey;
}

.six p {
    color: grey;
}

.five {
    color: white;
    background-color: rgb(192, 12, 12);
    width: 25%;
    padding: 92px;
}

.five h1 {
    border-bottom: 1px solid grey;
}

.one {
    background-color: rgb(56, 53, 53);
    width: 25%;
    padding: 92px;
}

.one img {
    width: 50px;
}

.one span {
    color: red;
    border-bottom: 1px solid grey;
}

.image {
    display: flex;
    background-color: white;
    color: black;
}

.image img {
    width: 292%;
    height: 135vh
}

.sector {
    margin-right: 5%;
    margin-left: 36%;
    font-family: Arial, Helvetica, sans-serif;
}

.sector h5 {
   margin-top: 130px;
   color: grey;
   font-size: 1em;
}

.sector .ul1 {
    display: flex;
    justify-content: space-between;
    font-size: 1em;
}

.sector .ul2 {
    display: flex;
    justify-content: space-between;
    font-size: 1em;
}

.ul1 span, .ul2 span {
    color: red;
    margin-right: 10px;
    font-size: 20px;
}

.sector h1 {
    font-size: 2em;
    font-weight: bold;
}

.sector .h4 {
    color: grey;
    font-size: 110%;
    margin-bottom: 8%;
}

.request {
    display: flex;
}

.re1 {
    background: red;
    color: white;
    padding: 15px; 
    font-weight: bold;
    width: 35%;
    text-align: center;
}

.re1:hover {
    background: black;
    color: white;
}

.re2 {
    padding: 10px;
    width: 30%;
    text-align: center;
    border: 2px solid black;
    margin-left: 15px;
    font-weight: bold;
}

.re2:hover {
    background: black;
    color: white;
}

.re2 span {
    font-size: 25px;
    font-weight: lighter;
}

.projects {
   height: 195vh; 
   color: white;
   background: linear-gradient(red, rgb(192, 12, 12), rgb(141, 9, 9));
}


.latest {
    text-align: center;
    padding-top: 0.1%;
    font-weight: bold;
}

.latest span {
    color: white;
}

.latest h5 {
    font-size: 1.2em;
}

.latest h1 {
    font-weight: bold;
    font-size: 350%;
}

.latest h4 {
    font-size: 135%;
    font-weight: 500;
    margin-bottom: 50px;
}

.project1 {
    display: flex;
}

.pro1 {
    display: flex;
    margin-left: 60px;
    background: white;
    height: 45vh;
    width: 45%;
    color: black;
}

.pro1 img {
    width: 55%;
    height: 45vh;
}

.pro1 h1 {
    font-size: 1.5em;
    color: rgb(43, 41, 41);
}

.pro1 h4, h5 {
    margin-top: 13%;
}

.timeless {
    flex-direction: column;
    margin-left: 30px;
    color: grey;
}

.pro2 {
    display: flex;
    margin-left: 2%;
    background: white;
    height: 45vh;
    width: 45%;
    color: black;
}

.pro2 img {
    width: 48%;
    height: 45vh;
}

.pro2 h1 {
    font-size: 1.5em;
    color: rgb(43, 41, 41);
}

.gorgeous {
    flex-direction: column;
    margin-left: 30px;
    color: grey;
}

.project2 {
    display: flex;
    margin-top: 50px;
}

.pro3 {
    display: flex;
   margin-left: 60px;
    background: white;
    height: 45vh;
    width: 64%;
    color: black; 
}

 .pro3 img {
    width: 47%;
    height: 45vh;
 }   

.pro3 h1 {
    font-size: 1.5em;
    color: rgb(43, 41, 41);
}

.amber {
    flex-direction: column;
    margin-left: 30px;
    color: gray;
}

.pro4 {
    display: flex;
    margin-left: 40px;
    margin-right: 40px;
    background: white;
    height: 45vh;
    width: 66%;
    color: black;
}

.pro4 img {
    width: 55%;
    height: 45vh;
}

.pro4 h1 {
    font-size: 1.5em;
    color: rgb(43, 41, 41);
}

.modern {
    flex-direction: column;
    margin-left: 30px;
    color: gray;
}

.all-pro {
    text-align: center;
    background: white;
    color: black;
    padding: 5px;
    width: 15%;
    margin-left: 45%;
    font-size: 1em;
    margin-top: 60px;
    font-weight: bold;
}

.all-pro:hover {
    background: black;
    color: white;
}

.stay {
    height: 30vh;
    background: black;
    text-align: center;
}

.stay h5 {
    color: grey;
    font-weight: bold;
    margin-top: 10%;
    text-align: center;
}

.stay h1 {
    font-size: 3em;
    font-weight: bolder;
    color: white;
    width: 800px;
    margin-left: 16%;
}

.stay h4 {
    background: red;
    color: white;
    font-weight: bolder;
    padding: 20px;
    width: 15%;
    margin-left: 43%;
}

.stay h4:hover{
    background: white;
    color: black;
}

.gallery {
    background-color: rgb(246, 250, 248);
}

.gallery h5 {
    padding-top: 100px;
    color: grey;
    font-weight: bold;
    margin-bottom: 0%;
}

.gallery h1 {
    font-size: 51px;
    font-style:normal;
    font-weight: bolder;
    color: rgb(30, 29, 29);
    margin-bottom: 0%;
}

.gallery h4 {
    color: grey;
    font-weight: bolder;
    margin-bottom: 60px;
}

.explore {
    text-align: center;
}

.pics {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

/*.pics img {
    width: 400px;
    height: auto;
    border-radius: 10px;
    border: 1px solid red;
}*/

.pics img {
    height: 100%;
    width: 100%;
}

.pics .img6:hover {
    cursor: pointer;
    width: 95%;
    height: 95%;
    transition: 2s;
}

.pics img:hover {
    cursor: pointer;
    width: 95%;
    height: 95%;
    transition: 2s;
}

/* Full screen black background */
.work-video {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: black; /* pure black before play */
}

/* Video hidden initially */
.work-video video {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 10%;
    left: 35%;
    z-index: 0;
    opacity: 0;                  /* invisible at start */
    transition: opacity 1s ease; /* smooth fade-in */
}

/* "+OUR VIDEO" text */
.tex {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.5rem;
    color: white;
    z-index: 2;
    text-align: center;
    opacity: 1;
    transition: opacity 1s ease;
    font-weight: bold;
}

/* "See Our Work in Action" text */
.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 3rem;
    color: white;
    z-index: 2;
    text-align: center;
    opacity: 1;
    transition: opacity 1s ease;
    font-weight: bold;
}

/* Play button */
.play-btn {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    width: 80px;
    height: 80px;
    font-size: 2rem;
    color: red;
    background: white;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.play-btn:hover {
    background: rgba(255, 255, 255, 0.3);
    transform: translateX(-50%) scale(1.1);
}

.pause-btn {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    width: 80px;
    height: 80px;
    font-size: 2rem;
    color: red;
    background: white;
    border-radius: 50%;
    cursor: pointer;
    display: none; /* hidden until video plays */
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.pause-btn:hover {
    background: rgba(255, 255, 255, 0.3);
    transform: translateX(-50%) scale(1.1);
}


/* Fade out text */
.fade-out {
    opacity: 0;
    pointer-events: none; /* optional: make unclickable */
}



.contact-us {
    height: 200vh;
    background-image: linear-gradient(rgba(3, 3, 3, 0.8), rgba(3, 3, 3, 0.8)), url(./assects/one.jpg);
    background-position: center;
    color: white;
    padding-top: 50px; 
}

.contact-us1 {
    background: rgba(31, 27, 27, 0.728);
    margin-left: 5%;
    width: 45%;
    height: 150vh;
}

.head h5 {
    color: grey;
    padding-top: 12%;
    text-align: center;
    font-size: 1.2em;
}

.head h5 span {
    color: red;
    font-weight: 900;
}

.head h1 {
    font-weight: bold;
    font-size: 2em;
    text-align: center;
}

.head h4 {
    
    font-size: 1.2em;
    text-align: center;
    color: rgb(195, 199, 203);
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 30px;
}

.form {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    width: 80%;
}

.name {
    padding: 20px;
    border: 1px solid black;
    border-radius: 4px;
    margin-bottom: 35px;
    color: white;
    background: black;
}

.phone {
    padding: 20px;
    border: 1px solid black;
    border-radius: 4px;
    margin-bottom: 35px;
    color: white;
    background: black;
}

.Email {
    padding: 20px;
    border: 1px solid black;
    border-radius: 4px;
    color: white;
    margin-bottom: 35px; 
    background: black;
}

textarea {
    max-width: 100%;
    min-width: 50%;
    height: 20vh;
    padding: 20px;
    border: 1px solid black;
    margin-bottom: 60px;
    border-top: none;
    border-bottom: none;
    display: absolute;
    background: black;
    border-radius: 4px;
}

.button {
    padding: 20px;
    background: red;
    color: white;
    border: 1px solid black;
}

.button:hover {
    background: white;
    color: black;
    transition: 1s;
}




/* Hide mobile menu on desktop */
.mobile-toggle,
.mobile-menu {
    display: none;
}

.toggle-btn {
    display: none; /* hidden on big screens */
}



@media (max-width: 768px) {
    /* Hide desktop nav items */
    .container1 .email,
    .container1 .home {
        display: none !important;
    }

    /* Show toggle button */
    .mobile-toggle {
        display: block;
        position: fixed;
        top: 15px;
        right: 20px;
        font-size: 40px;
        color: white;
        z-index: 2000;
        cursor: pointer;
    }

    /* Mobile menu base */
    .mobile-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: #111;

        opacity: 0;
        pointer-events: none;
        transition: opacity 0.4s ease;
        z-index: 1500;
    }

    /* Menu active state */
    .mobile-menu.active {
        opacity: 1;
        pointer-events: auto;
    }

    /* Close button */
    .mobile-close {
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 40px;
        cursor: pointer;
        color: white;
    }

    /* Menu links */
    .mobile-links {
        list-style: none;
        text-align: center;
        font-size: 30px;
        line-height: 50px;
        margin-bottom: 30px;
        padding: 0;
    }

    .mobile-links li {
        margin: 15px 0;
    }

    .mobile-links li a {
        text-decoration: none;
        color: white;
        transition: color 0.3s;
    }

    .mobile-links li a:hover {
        color: orange;
    }

    /* Contact */
    .mobile-contact {
        text-align: center;
        margin-bottom: 25px;
        color: white;
        font-size: 16px;
    }

    /* Social icons */
    .mobile-socials a {
        font-size: 30px;
        margin: 0 10px;
        color: orange;
        transition: color 0.3s;
    }

    .mobile-socials a:hover {
        color: white;
    }


    
}

