.icon svg {
  margin-right: 15px;
  margin-top: 20px;
  cursor: pointer;
  transition: 0.3s;
  color: red;
}

.icon svg:hover {
  transform: scale(1.2);
   background: black;
   color: white; 
   width: 30px;
   height: 30px;  
   box-shadow: 0 0 25px red;
   transition: 0.2s;
}

